@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{box-sizing: border-box;}
body{
    font-family: cursive;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
}
.notes{ 
    background-color: white;
    width: 400px;
    height: 400px;
}
.notes .tools{
    background-color: rgb(170, 195, 241);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.notes .tools button{
    background-color: transparent;
    border: none;
    color: blue;
    font-size: medium;
    margin-left: 0.5rem;
}
.notes .main{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;//text-box and main are both different
}
.notes textarea{
    width: 100%;
    height: 100%;
    border: none;
    font-family: cursive;
    outline: none;
    font-size: 1.2rem;    
}
.notes .hidden{
    display: none;
}